<!-- assignment.html -->
{% extends 'base.html' %}

{% block title %}{% if assignment %}Edit{% else %}Create{% endif %} Assignment{% endblock %}

{% block content %}
    <div class="container">
        <h1>{% if assignment %}Edit{% else %}Create{% endif %} Assignment</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">{% if assignment %}Update{% else %}Create{% endif %} Assignment</button>
        </form>
    </div>
{% endblock %}
